@model EcoPathPortal.Models.Login
@{
    ViewBag.Title = "Вход";
}

@using Recaptcha;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Въвели сте грешни данни.")

    <div style="margin:0 auto;">
        <fieldset style="display: inline-block">
            <legend>Вход</legend>
            <div class="editor-label">
                @Html.ValidationMessage("userError")
            </div>
            <div class="editor-label">
                @Html.LabelFor(l => l.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(l => l.UserName)
                @Html.ValidationMessageFor(l => l.UserName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(l => l.Password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(l => l.Password)
                @Html.ValidationMessageFor(l => l.Password)
            </div>
            <div class="editor-label">
                @Html.CheckBoxFor(l => l.RememberMe)
                @Html.LabelFor(l => l.RememberMe)
            </div>
            @if (IsPost && Convert.ToInt32(Session["FailedLogins"]) > 3)
            {
                <div class="editor-field">
                    @Html.Raw(Html.GenerateCaptcha("captcha", "white"))
                    @Html.ValidationMessage("captcha")
                </div>
                <input type="submit" value="Влез" />
            }
            else
            {
                <input type="submit" value="Влез" />
            }
        </fieldset>
    </div>
}