@model EcoPathPortal.Models.Register
@{
    ViewBag.Title = "Регистрация";
}

@using Recaptcha;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Регистрацията е неуспешна.")

    <div style="margin:0 auto;">
        <fieldset style="display: inline-block">
            <legend>Регистрация</legend>
            <div class="editor-label">
                @Html.LabelFor(r => r.UserName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(r => r.UserName)
                @Html.ValidationMessageFor(r => r.UserName)
                @Html.ValidationMessage("userNameExists")
            </div>
            <div class="editor-label">
                @Html.LabelFor(r => r.Email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(r => r.Email)
                @Html.ValidationMessageFor(r => r.Email)
                @Html.ValidationMessage("emailExists")
            </div>
            <div class="editor-label">
                @Html.LabelFor(r => r.Password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(r => r.Password)
                @Html.ValidationMessageFor(r => r.Password)
            </div>
            <div class="editor-label">
                @Html.LabelFor(r => r.ComparePassword)
            </div>
            <div class="editor-field">
                @Html.EditorFor(r => r.ComparePassword)
                @Html.ValidationMessageFor(r => r.ComparePassword)
            </div>
            <div class="editor-field">
                @Html.Raw(Html.GenerateCaptcha("captcha", "white"))
                @Html.ValidationMessage("captcha")
            </div>
            <input type="submit" value="Запази" />
        </fieldset>
    </div>
}
